*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    /* background-color: rgb(15, 15, 231); */
    display: flex;
    flex-direction: column;
    background-color: violet;
    background-image: url('../public/winnie.webp');
    background-size: cover;
    background-position: center;
    background-position-y: 5%;
    backdrop-filter: blur(5px);
}

nav {
    padding: 1rem;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    background-color: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sets {
    position: relative;
    font-family: Poppins, Arial;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s;
    user-select: none;
}

.sets:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.sets h3 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
    border-radius: 5px;
    transform: translateY(-20px);
    transition: transform 0.3s, opacity 0.1s;
}

.dropdown button {
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    transition: background-color 0.2;
    cursor: pointer;
    font-size: 16px;
}

.dropdown button {
    background-color: transparent;
    border: none;
}

.dropdown button:hover {
    background-color: rgba(74, 74, 74, 0.1);
}

.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.logo {
    font-family: 'Croissant One', cursive;
    font-size: 2rem;
    color: white;
    position: relative;
    z-index: 2;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

main {
    display: grid;
    place-items: center;
    flex-grow: 1;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(69, 24, 141, 0.952) 100%);
}

.searchbar { 
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 700px;
}

.searchbar input, .searchbar button{
    padding: 20px 40px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(58, 58, 58, 0.849);
}

.searchbar input {
    border: none;
    flex-grow: 1;
    background-color: rgba(221, 165, 224, 0.6);
    color: white;
}

.searchbar input::placeholder {
    color: white;
}

.searchbar button {
    /* background-color: rgb(255, 174, 0); */
    /* background-color: rgb(44, 44, 44); */
    background-color: white;
    color: black;
    border: none;
    padding: 20px 22px;
    cursor: pointer;
    transition: transform 0.3s;
}

.searchbar button:hover {
    transform: translateX(10px);
}

