html 
  head
    style 
      include ./cardGrid.css
    title=title
  body.card-grid 
    each card in cards
      div.card
        img(src=card['image-urls'].small)
        p.card-name=card.name 
        p.card-subtitle=card.subtitle
    