html
    head
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Croissant+One&display=swap', rel='stylesheet')
        style
            include ./styles.css
        title="HELLO WORLD"
    body
        nav
            h1.logo="Inkuiry"
        main
            div.searchbar
                input(type="text" placeholder="Card Name")
                input(type="text" placeholder="Card Subtitle")
                button="Search"