html
    head
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Croissant+One&display=swap', rel='stylesheet')
        style
            include ./styles.css
        title="Inkuiry"
    body
        nav
            h1.logo="Inkuiry"
        main
            form.searchbar(method="POST" action="/card")
                input(type="text" placeholder="Card Name" name="cardName")
                input(type="text" placeholder="Card Subtitle" name="cardSubtitle")
                button="Search"